
###> symfony/framework-bundle ###
.env
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
Brouillon

/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/bundles/
/public/assets/
/assets/vendor/
/public/uploads/
/public/logo/


###< symfony/asset-mapper ###

/*compose*.yaml

SuiviDesMigrations.txt
/migrations/
/SuiviDesMigrations.txt
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
